@import 'styles/theme';

/* The '&' is a shorthand for the containing element
  for more information visit https://sass-lang.com/guide
 */
.lobby {
    &.layout {
      padding: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: $borderRadius;
      column-gap: 1em;
      
    }
    &.container{
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    &.container_left {
      background: #001F3F;
      padding: 2em;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      align-items: left;
      box-shadow: $dropShadow;
      row-gap: 2em;
    }
    &.container_right {
        background: transparentize(rgb(65, 64, 64), 0.7);
        padding: 2em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: left;
        box-shadow: $dropShadow;
      }
    &.user-list {
      padding-left: 0;
    }
    &.user-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.label {
      font-size: 20px;
      font-weight: 400;
      color: #FFFFFF;
    }
    
    &.input {
        background: transparentize(rgb(253, 253, 253), 0.9);
        height: 30px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 15px;
        margin-left: -4px;
        border: none;
        border-radius: 0.5em;
        margin-bottom: 5px; 
        color: "#FFFFFF";
        background-color: #1979b8;
    }

    input::placeholder {
      color: #D4D4D4;
    }

    &.button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 2em;
      row-gap: 2em;
      column-gap: 1em;
    }
    & p,h2 {
        font-size: 20px;
        font-weight: 400;
        color: $textColor;
      margin: 0.5em 0;
    }
    .copied-text{
      font-size: 14px;
    }
  }
  
  .user {
    &.container {
        background: lighten($background, 5);
        margin: 0.2em 0;
        width: 25em;
        padding: 10px;
        flex-direction: column;
        border-radius: $borderRadius;
        display: flex;
        align-items: left;
    }
    &.user-info {
        font-weight: 600;
        margin-left: 5px;
        margin-right: auto;
        margin-top: 2px;
        color: $accent;
    }
  }
