@import 'styles/theme';

.profile {
    &.container {
        background: transparentize(rgb(65, 64, 64), 0.6);
        padding: 1em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }
    &.field {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &.label {
        font-size: 14px;
        font-weight: 300;
        color: $textColor;
    }
    &.input {
        background: transparentize(rgb(253, 253, 253), 0.9);
        height: 30px;
        font-size: 18px;
        font-weight: 400;
        padding-left: 15px;
        margin-left: -4px;
        border: none;
        border-radius: 0.5em;
        margin-bottom: 5px;
        color: $textColor;
    }
    &.button-container {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    & p,
    h2 {
        margin: 0em 0;
    }
}

.user {
    &.container {
        background: lighten($background, 5);
        margin: 0.2em 0;
        width: 25em;
        padding: 10px;
        flex-direction: column;
        border-radius: $borderRadius;
        display: flex;
        align-items: left;
    }
    &.user-info {
        font-weight: 600;
        margin-left: 5px;
        margin-right: auto;
        margin-top: 2px;
        color: $accent;
    }
}