@import 'styles/theme';

.profile {
    &.container {
        background: transparentize(rgb(65, 64, 64), 0.9);
        padding: 1em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
        width: 60%;
        margin: 50px auto 0;
    }

   &.button-container {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        margin-top: 2em;
    }
    &.user-profile-edit {
      width: 100%;
      .button-container {
        display: flex;
        justify-content: center;
        margin-top: 2em;
      }
      .input {
        .MuiInputBase-input  {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 16px;
          padding: 10px;
          border: none;
          border-radius: 10px;
          background-color: #1979b8;
          color: white;
        }
      }
        }
    & p,
    h2 {
        margin: 0.5em 0;
        color:white;
        background: #1979b8;
        text-align: center;
        width: 400px;
	font-size: 36px;
        border-radius: 0.5em;
    }
&.user-profile {
      width: 80%;
      }
}
.user-profile-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: $borderRadius;
}

.user-profile-field label {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 32px;
  color: $textColor;
}

.user-profile-field .field {
  border: none;
  padding: 8px;
  font-size: 24px;
  color: $textColor;
}

.user-profile-field input:focus {
  outline: none;
}

