@import "styles/theme";

/* The '&' is a shorthand for the containing element
  for more information visit https://sass-lang.com/guide
 */
.scoreboard {
    &.container {
        background: transparent;
        color: white;
        padding: 2em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
        width: auto;
        margin: 2em auto 0;
        row-gap: 0.5em;
    }
    &.button-container {
        display: flex;
        width: 15em;
        justify-content: center;
        align-items: center;
        margin-top: 1.5em;
    }
    &.label {
        font-size: 24px;
        font-weight: 400;
        color: $textColor;
    }
	&.category {
		font-size: 24px;
		border-radius: 10px;
		background-color: #1979b8;
		color: $textColor;
	}
    & h2 {
        margin: 0.5em 0;
        color: white;
        background: #1979b8;
        text-align: center;
        width: 400px;
        font-size: 48px;
        border-radius: 0.5em;
    }
	& p{
        color: white;
        background: #1979b8;
        text-align: center;
        font-size: 24px;
        border-radius: 0.5em;
	}
	& p:hover {
		cursor: pointer;
	}
	& .scorelist {
		display: flex;
	}
}

.score-table {
	background-color: transparent;
}

.score-table tr {
	border: none;
}

.score-table tr th {
	color: $textColor;
	font-size: 24px;
}

.score-table tr td {
	color: $textColor;
	font-size: 24px;
}

.scorelist div {
	padding: 0px 20px;
}

.user-button {
    &:hover {
        transform: translateY(-2px);
    }
    &:disabled {
        cursor: default;
        opacity: 0.4;
        &:hover {
            transform: none;
        }
    }
    padding: 6px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    height: 35px;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
    opacity: 1;
    color: white;
    background-color: transparent;
    transition: all 0.3s ease;
}
