@import 'styles/theme';

/* The '&' is a shorthand for the containing element
  for more information visit https://sass-lang.com/guide
 */

.scoreboard {
    &.container {
      background: $background;
      padding: 1.5em;
      border-radius: $borderRadius;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: $dropShadow;
    }
    &.user-list {
      padding-left: 0;
    }
    &.user-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &.button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2em;
      row-gap: 2em;
    }
    & p,h2 {
      margin: 0 0;
    }
  }
  
  .user {
    &.container {
      margin: 1em 0;
      width: 20em;
      padding: 5px;
      flex-direction: column;
      border-radius: $borderRadius;
      display: flex;
      background: lighten($background, 5);
    }
    &.user-link {
      display: flex;
      justify-content: left;
      margin-left: 3px;
      column-gap: 2em;
    }
    &.user-info {
      font-weight: 500;
      margin-left: 5px;
      margin-right: auto;
      color: $accent;
    }
  }