@import "styles/theme";

/* The '&' is a shorthand for the containing element
  for more information visit https://sass-lang.com/guide
 */
.waiting-page {
    &.layout {
        padding: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: $borderRadius;
        column-gap: 0.5em;
        & h2{
            margin: 0;
            color: white;
            border-bottom: 3px solid white;
            text-align: center;
            font-size: 32px;
            border-radius: 0.5em;
            padding: 15px;

        }
    }
    &.container_left {
        background: #001F3F;
        padding: 2em;
        background: #001F3F;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: left;
        row-gap: 2em;
        margin-right: 20px;
    }
    &.container_right {
        background: #001F3F;
        padding: 2em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 20px;
    }
    &.user-list {
        padding-left: 0;
    }
    &.user-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &.select {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
    &.label {
        font-size: 20px;
        color: $textColor;
        
    }
    &.category {
        margin-left: 20px;
        width: 60%;
        border-radius: $borderRadius;
        background-color: #1979b8;
		color: $textColor;
        &.Mui-disabled {
            color: $textColor;
        }
    }
    &.text {
        margin-left: 10px;
        width: 40%;
        border-radius: $borderRadius;
        background-color: #1979b8;
		color: $textColor;
        .MuiInputBase-input {
			background-color: #1979b8;
            color: $textColor;
            height: 20px;
            font-size: 18px;
            font-weight: 400;
            border: none;
            border-radius: 0.5em;
            &::placeholder {
                color: #D4D4D4;
              }
        }
    }

    &.button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 2em;
        column-gap: 1em;
        

    }
    & p,
    h2 {
        font-size: 20px;
        font-weight: 400;
        color: $textColor;
        margin: 0.5em 0;
    }

    .table-style {
      width: 100%;
      border-collapse: collapse;
      
    }

    .table-style thead {
        background-color: rgba(65, 63, 240, 0.7);
      color: white;

    }

    .table-style tbody tr {
        color:white;
      background-color: #5883a795;
      
    }
    .marginf{
    
            margin-bottom: 20px;
          
    }

    .table-style th,
    .table-style td {
        margin-left: 8px;
        border-radius: 10px;
      padding: 8px;
      
      text-align: center;
    }
    .center-align{
        text-align: center;
    }

}